{% extends "registration/base.html" %}
{% block content %}
<section class="py-16 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <h2 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Luxury Lounge</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
          About mandap Booking
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Book your seat in our luxury lounge and enjoy top-notch amenities, including gourmet food, premium drinks, and personalized service. Experience ultimate comfort and relaxation in a stylish and modern environment.
        </p>
      </div>
  
      <div class="mt-10">
        <div class="md:grid md:grid-cols-2 md:gap-6">
          <div>
            <div class="mt-5">
              <h3 class="text-lg leading-6 font-medium text-gray-900">Luxury Amenities</h3>
              <ul class="mt-4 list-disc pl-8">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
{% endblock content %}